.button {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.88);
    -fx-border-color: black;
}

.button:focused {
    -fx-border-color: #563f05;
    -fx-border-width: 0 0 0 2px ;
    -fx-border-radius: 0;
}

#accountBtnBox {
    -fx-border-width: 0 0 0 2px ;
    -fx-border-color: black;
    -fx-border-radius: 2px;
}

#accountBtnBoxLougout{
    -fx-border-width: 0 2px 0 0 ;
    -fx-border-color: black;
    -fx-border-radius: 2px;
}

#accountBtnBoxLougout .button:hover {
    -fx-border-color: rgba(203, 61, 61, 0.56);
    -fx-border-radius: 10px;
    -fx-border-width: 2px;

}

#accountBtnBoxLougout .button:focused {
    -fx-border-color: rgba(203, 61, 61, 0.56);
    -fx-border-width: 0  2px 0 0 ;
    -fx-border-radius: 0;
}